*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-style: normal;
    box-sizing: border-box;
}
img {
    width: 100%;
}
ul{
    list-style: none;
    margin: 0;
    padding:0px;

}
a{
    text-decoration: none;
    color: #ffffff;
    display: block;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}
header {
    width: 100%;
    position: relative;
}
header nav {
    width: auto;
}
nav ul {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-start;
}
h1{
    font-size: 46px;
    text-align: center;
    overflow: hidden;
    color: #FFFFFF;
}
/*___________________*/


body{
    background: url('../img/bg/bg.jpg') top no-repeat;
    /*background-size: cover;*/
}
header{
    height: 67px;
}
.header__logo img{
    width: 66px;
    height: 43px;
}
.header__wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__nav{
    display: flex;
    align-items: center;
}
.header__nav li a{
    padding: 25px 12px 23px 12px;
    transition: .3s;
    color: #ffffff;
    text-transform: uppercase;
}
.header__bg{
    background: rgba(0, 0, 0, 0.86);
}
.header__nav li a:hover{
    color: #4ED16B;
    transition: .3s;
}

.header__btn{
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 12px 11px 11px;
    transition: .5s;
}
.header__btn:hover{
    transition: .5s;
    background: #39d14d;
}
.header__btn-wrap{
    background: #4ED16B;
    border-radius: 5px;
    overflow: hidden;
}

/*section main*/
.main{
    margin-top: 48px;
}
.main__convert-schedule{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    letter-spacing: 0.13em;
    font-weight: 500;
    background: #595959;
    color: #ffffff;
    padding: 15px 0px 14px 0px;
}
.main__convert-img-wrap img{
    width: 24px;
    height: 24px;
}
.convert--give .main__convert-el-title{
    text-transform: uppercase;
    background: #348FE2;
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
    padding: 14px 0px 15px 17px;
}
.main__convert-item {
    display: flex;
    align-items: center;
    background: #ffffff;
    border-bottom: 1px solid #939393;
    transition: .3s;
    position: relative;
    padding: 6px 0px 5px 17px;
    border-left: 1px  solid #939393;
}
.convert--give .main__convert-item{
    border-left: none;
}
.convert--give .main__convert-item:hover:after{
   content: '';
    background: rgba(52, 143, 226, 0.25);
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: .3s;
}
.main__convert-item p{
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.13em;
    margin-left: 8px;
}

.convert--get .main__convert-title{
    background: #4ED16B;
    text-transform: uppercase;
    font-size: 12px;
    color: #ffffff;
    padding: 14px 0px 15px 17px;
    border-left: 1px  solid #939393;
}
.convert--get .main__convert-item:hover:after{
    content: '';
    background: rgba(78, 209, 107, 0.25);
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: .3s;
}
.main__convert{
    overflow: hidden;
    border-radius:25px;
}
.main__convert-wrap{
    display: flex;
    background: #ffffff;
}
.main__convert-el{
    width: calc(100% / 3);
}
.convert--bitcoin{
    border-left: 1px  solid #939393;
}
.convert--bitcoin .main__convert-title{
    background: #1F7996;
    text-transform: uppercase;
    color: #ffffff;
    padding: 14px 0px 15px 17px;
    font-size: 12px;
}

.main__convert-course p {
    font-size: 11px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
}
.main__convert-el-wrap{
    background: #ffffff;
}
.convert--bitcoin .main__convert-img-wrap img{
    width: 53px;
    height: 53px;
}
.main__convert-img-wrap{
    margin-right: 28px;
}
.main__convert-el-wrap{
    padding-left: 43px;
    padding-top: 30px;
    padding-bottom: 115px;
}
.main__convert-text{
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.13em;
}
.main__convert-give{
    display: flex;
    align-items: center;
    margin-bottom: 11px;
}
.form__row{
    display: flex;
    flex-direction: column;
}
.main__convert-form .btn{
    background: #4ED16B;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 18px;
    width: 233px;
    height: 41px;
    border: none;
    color: #ffffff;
    transition: .5s;
    margin-top: 32px;
    cursor: pointer;
}
.main__convert-form .btn:hover{
    background: #39d14d;
    transition: .5s;
}
.form__row label{
    font-size: 11px;
    letter-spacing: 0.13em;
    margin-bottom: 4px;
}
.form__input-wrap{
        width: 233px;
}
.form__rate{
    font-weight: normal;
    font-size: 9px;
    line-height: 11px;
    color: #939393;
    margin-bottom: 2px;
}

.form__input-wrap{
    border: 1px solid #939393;
    margin-bottom: 7px;
}
.form__input-wrap input{
    border: none;
    padding: 5px 15px;
}
/*end section main*/

/*section reserve*/
.reserve{
    margin-top: 48px;
}
.reserve__title{
    color: #000000;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 37px;
}
.reserve__wrap{
    background: #ffffff;
    border-radius: 25px;
    overflow: hidden;
    padding: 39px 71px 79px 81px;
}
.reserve__el {
    width: calc((100% - 4*28px)/5);
    height: 69px;
    background: #FFFFFF;
    margin-right: 28px;
    padding: 6px 3px 5px 13px;
    margin-bottom: 28px;
    border: 1px solid #939393;
    box-sizing: border-box;
    box-shadow: 7px 10px 16px rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center;
}
.reserve__el-img-wrap{
    margin-right: 14px;
}
.reserve__el-name{
    text-transform: uppercase;
    margin-bottom: 8px;
    font-size: 11px;
}
.reserve__el-price{
    font-size: 11px;
}
.reserve__el:nth-child(5n){
    margin-right: 0;
}
.reserve__el-wrap{
    display: flex;
    flex-wrap: wrap;
}

.reserve__el-img-wrap img{
    width: 58px;
    height: 58px;
}
/*end section reserve*/


/*section about-us*/
.about-us {
    margin-top: 48px;
}
.about-us__wrap{
    background: #FFFFFF;
    border-radius: 25px;
    display: flex;
    padding: 41px 71px 40px 47px;
}
.about-us__el h3 {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    margin-bottom: 24px;
}
.m-about-us__el-item,
.about-us__el-item{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.m-about-us__el-img-wrap,
.about-us__el-img-wrap{
    width: 119px;
    min-width: 119px;
    height: 119px;
    border: 3px solid #4ED16B;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 11px;
}
.m-about-us__el-img-wrap img,
.about-us__el-img-wrap img{
    width: 65px;
}
.m-about-us__el-text h4,
.about-us__el-text h4{
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.m-about-us__el-text p,
.about-us__el-text p{
    color: #3F3F3F;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.13em;
}
.m-about-us__el-text p{
    color: #FFFFFF;
}
.about-us__el.why-are--we{
    border-right: 1px solid #000000;
    padding-right: 11px;
}
.about-us__el.reviews{
    padding-left: 71px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-us__el-image-wrap img {
    width: 71px;
}
.about-us__el-image-wrap{
    margin-right: 4px;
}

.about-us__el.reviews p{
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.13em;
    color: #3F3F3F;
    margin-bottom: 9px;
}
.about-us__el.reviews p.about-us__el-name{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.13em;
    color: #000000;
    margin-bottom: 6px;
}
.about-us__el-date{
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.13em;
    color: #3F3F3F;
}

.about-us__el.reviews .about-us__el-item{
    border-bottom: 1px solid #B9B9B9;
    padding-bottom: 5px;
}
.about-us__el.reviews .about-us__el-item:last-child{
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
.about-us__el.reviews .about-us__el-wrap{
    background: rgba(196, 196, 196, 0.3);
    padding: 32px 16px 32px 24px;
}
.button__wrap.btn-blue{
    background: #1F7996;
    border-radius: 40px;
    max-width: 190px;
    box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.3);
    margin-top:32px;
    cursor: pointer;
    transition: .3s;
}
.button__wrap.btn-blue:hover{
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    transition: .3s;
}
.button__wrap.btn-blue a{
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.13em;
    color: #ffffff;
    padding: 18px 16px 20px 21px;
}
.about-us{
    margin-bottom: 48px;
}
/*end section about-us*/


/*footer section*/
footer {
    /*background: rgba(0, 0, 0, 0.84);    */
    background: rgba(0, 0, 0, 1);
    padding-top: 94px;
    padding-bottom: 20px;
}
.footer__menu-wrap a {
    color: #ffffff;
}

.footer__logo{
    width: 191px;
    height: 118px;
    padding-right: 20px;
}
.footer__logo img {
    object-fit: contain;
    height: 118px;
}
.footer__wrap{
    display: flex;
}
.footer__menu{
    display: flex;
}
.footer__menu li a{
    padding-bottom: 6px;
    padding-top: 6px;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.225em;
}
.footer__menu-wrap{
    padding-right: 20px;
}

.footer__menu li a:hover{
    text-decoration: underline;
}
.footer__menu-wrap img{
    width: 14px;
    margin-right: 9px;
}
.footer__menu-wrap:nth-child(3) li{
    display: flex;
    align-items: center;
}
.footer__menu-name{
    color: #ffffff;
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;
    letter-spacing: 0.225em;
    text-transform: uppercase;
    margin-bottom: 18px;
}
.footer__paycart{
    margin-top: -50px;
}
.footer__paycart .footer__paycart-img-wrap{
    margin-bottom: 26px;
}
.footer__wrap-row span{
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.13em;
    display: block;
    width: 100%;
    text-align: center;
}
/*end footer section*/

/*m-about_us section*/
.m-about_us{
    margin-top: 55px;
    margin-bottom: 55px;
}
.m-about_us-wrap{
    border-radius: 25px;
    background: rgba(8, 25, 14, 0.84);
    color: #ffffff;
    padding: 18px 73px 48px 73px;
}
.m-about_us-title{
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.225em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 26px;
}
.m-about_us-text{
    border: 3px solid #4ED16B;
    border-radius: 20px;
    padding: 30px 20px 29px 38px;
    margin-bottom: 72px;
}
.m-about-us__el-item{
    width: calc(100% - 30px);
}
.m-about_us-elem.border-green{
    border: 3px solid #4ED16B;
    border-radius: 20px;
    min-width: 481px;
    padding: 47px 25px 43px 25px;
}
.m-about_us-item{
    display: flex;
    align-items: center;
    margin-bottom: 47px;
}
.m-about_us-item:last-child{
    margin-bottom: 0;
}
.m-about_us-item .m-about_us-img-wrap{
    min-width: 115px;
    max-width: 115px;
    margin-right: 23px;
}
.m-about_us-text-wrap h4{
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;

    letter-spacing: 0.13em;
    margin-bottom: 15px;
}
.m-about_us-text-wrap p{
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.13em;
}
.m-about_us-info{
    display: flex;
}
.m-about_us-wrap .button__wrap.btn-blue{
    max-width: none;
    display: flex;
    justify-content: center;
    background: none;
    box-shadow: none;
}
.m-about_us-wrap .button__wrap.btn-blue a{
    padding: 7px 25px;
    text-transform: uppercase;
    text-align:center;
    max-width: 200px;
    background: #1F7996;
    border-radius: 40px;
    box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.3);
}
.m-about_us-wrap .button__wrap.btn-blue a:hover{
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    transition: .3s;
}
/*enf-m-about_us section*/


.m-input__form-checkbox.castom--chekbox{
    width: 41px;
    height: 41px;
    border: 3px solid #FFFFFF;
    display: block;
    position: relative;
}
.m-input{
    margin-top: 48px;
    margin-bottom: 48px;
}
.m-input__wrap{
    background: rgba(8, 25, 14, 0.84);
    padding: 32px 137px 85px 137px;
    color: #ffffff;
}
.m-input__title{
    text-align: center;
    margin-bottom: 32px;
    margin-top: 0px;
}
.progress{
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
}
.progress-payment,
.progress-input{
    color: #000000;
    background: #ffffff;
    padding: 8px 31px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.225em;
}
.progress-input.green{
    background: #4ED16B;
    z-index: 10;
}
.progress-payment.green{
    background: #4ED16B;
    z-index: 10;
}
.progress-payment{
    background: #ffffff;
    margin-left: -10px;
    padding: 8px 67px;
}
.m-input__form-row label{
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.13em;
    text-transform: uppercase;
}
.m-input__form-el{
    margin-top: 17px;
    background: #FFFFFF;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px 20px;
}
.m-input__form-el input{
    width: 100%;
    outline: none;
    border: none;
    letter-spacing: 0.13em;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}
.m-input__form-row{
    margin-bottom: 16px;
}
.m-input__form-row.flex{
    display: flex;
    align-items: center;
    margin-bottom: 46px;
}
.m-input__form-row:last-child{
    margin-top: 37px;
}
.m-input__form-regulations{
    max-width: 377px;
    margin-left: 22px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.13em;
}
.m-input__form-checkbox input:checked + label:after{
    content: '';
    position: absolute;
    display: block;
    background: url(../img/icon/checked.png) no-repeat center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#m-input__form-checkbox{
    display: none;
}
.m-input__navigation .btn__next,
.m-input__navigation .btn__back{
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    width: 231px;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.13em;
    border-radius: 10px;
    padding: 9px 0;
    box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.3);
}
.m-input__navigation .btn__back{
    background: #1F7996;
    transition: .5s;

}
.m-input__navigation .btn__back:hover{
    background: #035196;
    transition: .5s;
    box-shadow: none;
}
.m-input__navigation .btn__next{
    background: #4ED16B;
    transition: .5s;
}
.m-input__navigation .btn__next:hover{
    background: #39d14d;
    transition: .5s;
    box-shadow: none;
}
.m-input__navigation{
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}
.m-input__info{
    border: 3px solid #4ED16B;
    padding: 36px 20px;
    max-width: 686px;
    width:100%;
    margin: 0 auto;
}
.m-input__info-el{
    margin-bottom: 20px;
    letter-spacing: 0.13em;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}
.m-input__info-el:last-child{
    margin-bottom: 0;
}

.m-payment__wrap{
    background: rgba(8, 25, 14, 0.84);
    border-radius: 25px;
    padding: 30px 90px 130px 90px;
    color:#ffffff;
    margin-top: 45px;
    margin-bottom: 45px;
}
.m-payment__title{
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.225em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 34px;
}
.get__item-wrap img,
.give__item-wrap img{
    width: 41px;
}


.m-payment__status-el{
    width: 50%;

}
.m-payment__status-el__wrap{
    border: 3px solid #4ED16B;
    padding: 7px 25px 2px 52px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;
}
.green-color{
   color: #4ED16B;
}
.m-payment__status-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom:2px solid #4ED16B;
}
.m-payment__status-item:last-child{
    border: none;
}
.m-payment__row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}
.m-payment__status-item .m-payment__row:last-child{
    margin-bottom: 0;
}
.get__item-wrap,
.give__item-wrap{
    display: flex;
    align-items: center;
}
.get__item-wrap img,
.give__item-wrap img{
    margin-right: 9px;
}
.get__elem,
.give__elem{
    width: 100%;
}
.get__item,
.give__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.get__value{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}
.m-payment__status-item .m-payment__phone,
.m-payment__status-item .m-payment__email
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 10px;
}
.m-payment__status-item .m-payment__email{
    margin-bottom: 0;
}
.get__elem .get__item:last-child{
    margin-bottom: 0;
}
.cancel__btn{
    color: #1F7996;
    font-weight: bold;
    line-height: 23px;
    cursor: pointer;
    display: inline;
    margin-left: 15px;

}
.m-payment__cancel{
    margin-top: 15px;
    font-size: 20px;
    text-align: justify;
}
.m-verification__wrap{
    padding: 32px 134px 41px 134px;
    background: rgba(8, 25, 14, 0.84);
    border-radius: 25px;
    margin-bottom: 40px;
    margin-top: 40px;
    color: #ffffff;
    letter-spacing: 0.225em;
}
.m-verification__title{
    text-align: center;
    margin-bottom: 32px;
    text-transform: uppercase;
}
.m-verification__info{
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    margin-bottom: 32px;
}
.m-verification__timer{
    position: absolute;
    width: 214px;
    border-radius: 15px;
    background: #1F7996;
    display: block;
    padding: 13px 60px;
    text-transform: uppercase;
    bottom: -22px;
    left: 50%;
    transform: translate(-50%);
}

.m-verification__time{
    position: relative;
    width: 635px;
    height: 312px;
    margin: 0 auto;
    margin-bottom: 42px;

}
.m-verification__time img{
    object-fit: cover;
    border-radius: 20px;
}

.small-width{
    max-width: 635px;
    margin-left: auto;
    margin-right: auto;
}
.m-verification__conditions{
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.m-verification__conditions:after,
.m-verification__conditions:before{
    content: '';
    display: inline-block;
    background: url("../img/icon/atantion.svg");
    min-width: 52px;
    height: 52px;
}
.varification_file{
    border: 3px solid #FFFFFF;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 20px;
    padding: 18px 42px 14px 42px;
    max-width:280px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}
.varification_file:before{
    content: '';
    display: inline-block;
    background: url("../img/icon/file.svg");
    width: 13px;
    margin-right: 10px;
    height: 18px;
}
.varification_file-input{
    display: none;
}
/*main blur effect*/

.blur {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.blur-message {
    /*position: absolute;*/
    left: 12px;
    right: 12px;
    top: 0;
    bottom: 0;
    background: rgba(250, 250, 250, .4);
    padding: 24px 24px 32px;
    z-index: 1;
    /*opacity: 0;*/
    pointer-events: none;
    transition: opacity .25s ease;
    -webkit-transition: opacity .25s ease;
}

.blur-message .heading3 {
    /*position: absolute;*/
    left: 24px;
    right: 24px;
    top: calc(50vh - 48px);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.heading3 {
    font-size: 24px;
    line-height: 28px;
}
.heading {
    font-weight: 500;
    color: #2b2b2e;
}
/*end main blur effect*/

.m-auth__wrap{
    display: flex;
    letter-spacing: 0.13em;
    margin-top: 60px;
    margin-bottom: 60px;
}
.m-auth__el{
    width: calc(100% / 2);
}


.form__auth-row{
    margin-bottom: 16px;
}
.form__auth-row label {
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.13em;
    /*text-transform: uppercase;*/
    color: #ffffff;
}
.form__auth-el{
    margin-top: 17px;
    background: #FFFFFF;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px 20px;
}
.form__auth-el input {
    width: 100%;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}
.form__auth-title{
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    margin-bottom: 63px;
    text-align: center;
}
.checkbox__desk{
    font-size: 18px;
    color: #ffffff;
    line-height: 1;
}
.form__auth-checkbox{
    display: flex;
    align-items: center;
}
.form__auth-checkbox input{
    display: none;
}
.form__auth-checkbox label{
    display: block;
    background: #ffffff;
    width: 19px;
    height: 19px;
    position: relative;
    margin-right: 16px;
}
.form__auth-checkbox input:checked + label:after {
    content: '';
    position: absolute;
    display: block;
    background: url(../img/icon/checkblack.png) no-repeat center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.form__auth-button{
    margin-top: 27px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.form__auth-button button{
    background: #1F7996;
    border-radius: 40px;
    font-weight: bold;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.13em;
    width: 196px;
    height: 33px;
    transition: .5s;
    box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-bottom: 27px;
}
.form__auth-button button:hover{
    transition: .5s;
    background: #035196;
    box-shadow: none;
}
.form__auth-button .forgot__pass{
    font-weight: bold;
    font-size: 15px;
}
.form__auth-button .forgot__pass:hover {
    text-decoration: underline;
    transition: .3s;
}
.m-auth__el{
    padding-right: 173px;
    padding-bottom: 120px;
}
.m-auth__el:last-child{
    padding-right: 0;
    padding-left: 173px;
    border-left:2px solid #FFFFFF ;
}